In [30]:
import pandas as pd
import os
import numpy as np

In [3]:
def readDict(filename, sep):
    with open(filename, "r") as f:
        dic = {}
        for line in f:
            values = line.split(sep)
            #dict[values[0][2:-1]] = {int(x[:-3]) for x in values[1:len(values)]}
            dic[values[0]] = int(values[1])
        return(dic)

In [41]:
cols = ['col_name','# unique values', '# missing values', '% missing values', 'data type']
df_cols = pd.DataFrame(columns=cols)
outputs = os.listdir('./output')
outputs = [f for f in outputs if f[-3:]=='out']
cnt = 0
for file in outputs:
    df_cols.loc[cnt, 'col_name'] = file[:-4]
    dic = readDict('./output/'+file, '\t')
    df_cols.loc[cnt, '# unique values'] = len(dic)
    if dic.get(''):
        df_cols.loc[cnt, '# missing values'] = int(dic.get(''))
        df_cols.loc[cnt, '% missing values'] = str(round(float(dic.get('') / 5101231 * 100), 2))+'%'
    else:
        df_cols.loc[cnt, '# missing values'] = 0
        df_cols.loc[cnt, '% missing values'] = '0.0%'
    cnt = cnt + 1
    #print(file)

In [42]:
df_cols

,col_name,# unique values,# missing values,% missing values,data type
0,ADDR_PCT_CD,78,390,0.01%,NaN
1,BORO_NM,6,463,0.01%,NaN
2,CMPLNT_FR_DT,6372,655,0.01%,NaN
3,CMPLNT_FR_TM,1443,48,0.0%,NaN
4,CMPLNT_TO_DT,4828,1391476,27.28%,NaN
5,CMPLNT_TO_TM,1442,1387783,27.2%,NaN
6,CRM_ATPT_CPTD_CD,3,7,0.0%,NaN
7,HADEVELOPT,279,4848018,95.04%,NaN
8,JURIS_DESC,25,0,0.0%,NaN
9,KY_CD,74,0,0.0%,NaN
10,Lat_Lon,112827,188146,3.69%,NaN
11,Latitude,112804,188146,3.69%,NaN
12,LAW_CAT_CD,3,0,0.0%,NaN
13,LOC_OF_OCCUR_DESC,6,1127339,22.1%,NaN
14,Longitude,112808,188146,3.69%,NaN
15,OFNS_DESC,71,18840,0.37%,NaN
16,PARKS_NM,864,5093623,99.85%,NaN
17,PD_CD,416,4574,0.09%,NaN
18,PD_DESC,404,4574,0.09%,NaN
19,PREM_TYP_DESC,71,33278,0.65%,NaN
20,RPT_DT,3652,0,0.0%,NaN
21,X_COORD_CD,69533,188146,3.69%,NaN
22,Y_COORD_CD,72317,188146,3.69%,NaN

In [ ]:
outputs = os.listdir('./output')
outputs = [f for f in outputs if f[-3:]=='out']